@font-face {
    font-family: 'PTSerif-Regular';
    src: url('fonts/PTSerif-Regular.eot');
    src: local('?'),
    url('fonts/PTSerif-Regular.woff') format('woff'),
    url('fonts/PTSerif-Regular.ttf') format('truetype'),
    url('fonts/PTSerif-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CampusA-Bold';
    src: url('fonts/CampusA-Bold.eot');
    src: local('?'),
    url('fonts/CampusA-Bold.woff') format('woff'),
    url('fonts/CampusA-Bold.ttf') format('truetype'),
    url('fonts/CampusA-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FinitionPERSONALUSEONLY';
    src: url('fonts/FinitionPERSONALUSEONLY.eot');
    src: local('?'),
    url('fonts/FinitionPERSONALUSEONLY.woff') format('woff'),
    url('fonts/FinitionPERSONALUSEONLY.ttf') format('truetype'),
    url('fonts/FinitionPERSONALUSEONLY.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SnowstormLight';
    src: url('fonts/SnowstormLight.eot');
    src: local('?'),
    url('fonts/SnowstormLight.woff') format('woff'),
    url('fonts/SnowstormLight.ttf') format('truetype'),
    url('fonts/SnowstormLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SnowstormKraft';
    src: url('fonts/SnowstormKraft.eot');
    src: local('?'),
    url('fonts/SnowstormKraft.woff') format('woff'),
    url('fonts/SnowstormKraft.ttf') format('truetype'),
    url('fonts/SnowstormKraft.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SnowstormInline';
    src: url('fonts/SnowstormInline.eot');
    src: local('?'),
    url('fonts/SnowstormInline.woff') format('woff'),
    url('fonts/SnowstormInline.ttf') format('truetype'),
    url('fonts/SnowstormInline.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url("images/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0;
}
body.noscroll {
    overflow: hidden;
}

/* Section 1 */
.section {
    position: relative;
    width: 100%;
}
.section-1 {
    height: 95vh;
}
#main-copy-wrap {
    position: fixed;
    height: 200px;
    width: 100%;
    left: 0;
    top: calc(47.5% - 100px);
    background: rgba(0,0,0,.6);
    border-bottom: 1px solid transparent;
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);*/
    z-index: 3;
    transition: height .3s;
}
#main-copy-wrap.nav {
    top: 0 !important;
    height: 60px;
    border-color: #ffe66d;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
#main-copy {
    position: absolute;
    width: 610px;
    height: 100%;
    left: 100px;
    color: #ffe66d;
}
#main-copy span {
    color: #ff6b6b;
}
#main-title {
    width: 100%;
    height: auto;
    font-family: 'FinitionPERSONALUSEONLY';
    font-size: 50px;
    margin: 40px 0 0 0;
    transition: all .3s;
}
.nav #main-title {
    font-size: 30px;
    top: 15px;
    margin-top: 9px;
    margin-left: -14px;
    width: 200px;
    cursor: pointer;
}
#main-subtitle {
    position: absolute;
    width: 100%;
    height: auto;
    font-family: 'SnowstormLight';
    font-size: 17px;
    margin: 0;
}
.nav #main-subtitle {
    opacity: 0;
    transition: all .3s;
}
#tabs {
    display: none;
    opacity: 0;
    position: absolute;
    width: 660px;
    left: calc(50% - 95px);
    top: 16px;
    text-align: center;
    transition: all .2s;
}
#tabs.block {
    display: block;
}
#tabs.show {
    opacity: 1;
}
.tab {
    display:inline-block;
    font-family: 'SnowstormLight';
    color: #ffe66d;
    font-size: 14px;
    padding: 6px 10px;
    cursor: pointer;
    transition: all .2s;
}
.tab:hover{
    background: rgba(255,107,107,.4);
}
#scroller {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 80px;
    left: calc(50% - 30px);
    background: url("images/scroller5.png") no-repeat;
    background-size: cover;
    opacity: .6;
    transition: all .6s;
}
#scroller.hide {
    opacity: 0;
}
#scroller.animate {
    animation: scroller 1.5s infinite;
}
@keyframes scroller {
    0% {bottom: 80px;}
    10% {bottom: 70px;}
    50% {bottom: 80px;}
}

/* Section 2 */
.section-2 {
    width: 100%;
    height: 5vh;
    min-height: 20px;
    background: #ffe66d;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#diagonal-strips {
    position: absolute;
}
.canvas-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Section 3 */
.section-3 {
    height: 100vh;
    min-height: 654px;
    background: url("images/bg12.jpg") no-repeat center center fixed;
    background-size: cover;
}
#category-cards {
    position: absolute;
    width: 900px;
    height: 600px;
    left: calc(50% - 425px);
    top: calc(50% - 230px - 50px);
    text-align: center;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.card {
    display:inline-block;
    width: 145px;
    height: 230px;
    font-size: 14px;
    margin-right: 50px;
    margin-top: 50px;
    background-color: rgba(0,0,0,.6);
    /*border: 1px solid #ffe66d;*/
    border-radius: 5px;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 5px 0 rgba(0, 0, 0, 0.4);*/
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
}
.card:hover {
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 30px 0 rgba(0,0,0,0.4);
}
.card div {
    width: 100%;
    text-align: center;
}
.card-0 .icon {
    background: url("images/television.png") no-repeat 50% 60%;
    background-size: 50%;
}
.card-1 .icon {
    background: url("images/washing-machine.png") no-repeat 50% 60%;
    background-size: 35%;
}
.card-2 .icon {
    background: url("images/kettle.png") no-repeat 50% 60%;
    background-size: 35%;
}
.card-3 .icon {
    background: url("images/vacuum-cleaner.png") no-repeat 50% 60%;
    background-size: 50%;
}
.card-4 .icon {
    background: url("images/air-conditioning.png") no-repeat 50% 60%;
    background-size: 50%;
}
.card-5 .icon {
    background: url("images/bedroom.png") no-repeat 50% 60%;
    background-size: 45%;
}
.card-6 .icon {
    background: url("images/chandelier.png") no-repeat 50% 60%;
    background-size: 40%;
}
.card .icon {
    height: 55%;
    /*background-color: rgba(0,0,0,.6);*/
    transition: all .2s;
}
.card .header {
    height: 10%;
    /*background-color: rgba(0,0,0,.6);*/
    color: #ffe66d;
    transition: all .2s;
    font-family: 'SnowstormLight';
    font-weight: bold;
}
.card .description {
    height: 35%;
    /*background-color: rgba(0,0,0,.6);*/
    font-family: 'SnowstormLight';
    color: #ffe66d;
    border-top: 1px solid #ffe66d;
    padding: 7px;
    box-sizing: border-box;
    transition: all .2s;
}
/*.card:hover .description {
    color: #292f36;
    background-color: rgba(255,230,109,1);
}*/

/* Fences */
.category-frame {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
.category-frame.block {
    display: block;
}
.category-frame canvas {
    position: absolute;
}

/* Categories */
#categories {
    display: none;
}
.category {
    display: none;
    position: absolute;
    height: 270px;
    top: calc(50% - 170px);
    background: rgba(0,0,0,.6);
    text-align: center;
    margin: 0;
    padding: 40px 40px 70px 40px;
    font-family: 'SnowstormLight';
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);*/
    animation: fadeIn .9s;
    transition: all .4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.category-1,
.category-2,
.category-4 {
    width: 890px;
    left: calc(50% - 480px);
}
.category-0,
.category-5 {
    width: 430px;
    left: calc(50% - 250px);
}
.category-3,
.category-6 {
    width: 660px;
    left: calc(50% - 365px);
}
.category.block {
    display: block;
}
.category.hidden {
    opacity: 0;
}
.category .title {
    position: absolute;
    width: calc(100% - 80px);
    height: 30px;
    font-family: 'SnowstormKraft';
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #ffe66d;
    /*background-color: #f7fff7;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);*/
}
.subcard {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    background-color: rgba(247,255,247,1);
    color: #292f36;
    font-size: 14px;
    margin-right: 30px;
    margin-top: 70px;
    /*border: 1px solid #ffe66d;*/
    border-radius: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    /*overflow: hidden;*/
    cursor: pointer;
    transition: all .2s;
}
.subcard:hover {
    /*background-color: rgba(247,255,247,1);*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
}
.subcard.none {
    display: none;
}
.subcard-3,
.category-3 .subcard-2,
.category-6 .subcard-2,
.category-0 .subcard-1,
.category-5 .subcard-1 {
    margin-right: 0;
}
.subcard div {
    width: 100%;
    text-align: center;
}
.subcard .icon {
    height: 80%;
}

.category-0 .subcard-0 .icon {
    background: url("images/television.png") no-repeat 50% 55%;
    background-size: 47%;
}
.category-0 .subcard-1 .icon {
    background: url("images/compact-disc.png") no-repeat 50% 55%;
    background-size: 38%;
}
.category-1 .subcard-0 .icon {
    background: url("images/fridge.png") no-repeat 50% 50%;
    background-size: 26%;
}
.category-1 .subcard-1 .icon {
    background: url("images/stove.png") no-repeat 50% 50%;
    background-size: 35%;
}
.category-1 .subcard-2 .icon {
    background: url("images/washing-machine.png") no-repeat 50% 50%;
    background-size: 35%;
}
.category-1 .subcard-3 .icon {
    background: url("images/extractor.png") no-repeat 50% 50%;
    background-size: 43%;
}
.category-2 .subcard-0 .icon {
    background: url("images/kettle.png") no-repeat 50% 50%;
    background-size: 35%;
}
.category-2 .subcard-1 .icon {
    background: url("images/microwave-oven.png") no-repeat 50% 53%;
    background-size: 50%;
}
.category-2 .subcard-2 .icon {
    background: url("images/meat-grinder.png") no-repeat 50% 50%;
    background-size: 40%;
}
.category-2 .subcard-3 .icon {
    background: url("images/dishes.png") no-repeat 50% 55%;
    background-size: 35%;
}
.category-3 .subcard-0 .icon {
    background: url("images/vacuum-cleaner.png") no-repeat 50% 48%;
    background-size: 46%;
}
.category-3 .subcard-1 .icon {
    background: url("images/iron-1.png") no-repeat 50% 50%;
    background-size: 48%;
}
.category-3 .subcard-2 .icon {
    background: url("images/ironing-board.png") no-repeat 50% 50%;
    background-size: 75%;
}
.category-4 .subcard-0 .icon {
    background: url("images/fan.png") no-repeat 50% 50%;
    background-size: 35%;
}
.category-4 .subcard-1 .icon {
    background: url("images/air-conditioning.png") no-repeat 50% 50%;
    background-size: 45%;
}
.category-4 .subcard-2 .icon {
    background: url("images/boiler.png") no-repeat 50% 50%;
    background-size: 75%;
}
.category-4 .subcard-3 .icon {
    background: url("images/heater.png") no-repeat 50% 50%;
    background-size: 40%;
}
.category-5 .subcard-0 .icon {
    background: url("images/tap.png") no-repeat 50% 50%;
    background-size: 45%;
}
.category-5 .subcard-1 .icon {
    background: url("images/bed.png") no-repeat 50% 58%;
    background-size: 45%;
}
.category-6 .subcard-0 .icon {
    background: url("images/generator.png") no-repeat 50% 50%;
    background-size: 35%;
}
.category-6 .subcard-1 .icon {
    background: url("images/chandelier.png") no-repeat 50% 50%;
    background-size: 45%;
}
.category-6 .subcard-2 .icon {
    background: url("images/floor.png") no-repeat 50% 50%;
    background-size: 35%;
}

.subcard .header {
    position: absolute;
    width: 200px;
    height: 10%;
    top: 73%;
    text-align: center;
}
.subcard canvas {
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 100px;
    transition: opacity .5s;
}
.subcard canvas:hover {
    opacity: 1;
}

/* Subcategories */
.subcategory-background {
    top: -85px;
    border-radius: 5px;
    /*background-color: rgba(247,255,247,.2);*/
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);*/
    /*filter: drop-shadow(-1px 3px 8px rgba(0, 0, 0, 0.6));*/
    transition: all .2s;
}
.subcategory-frame {
    display: none;
    position: absolute;
    top: -85px;
    width: 1030px;
    height: 550px;
    border-radius: 5px;
    padding: 0 77px;
    opacity: 0;
    overflow: scroll;
    transition: all .2s;
}
.subcategory-frame.block {
    display: block;
}
.subcategory-frame.show {
    opacity: 1;
}
.category-1 .subcategory-background,
.category-2 .subcategory-background,
.category-4 .subcategory-background,
.category-1 .subcategory-frame,
.category-2 .subcategory-frame,
.category-4 .subcategory-frame {
    left: -30px;
}
.category-0 .subcategory-background,
.category-5 .subcategory-background,
.category-0 .subcategory-frame,
.category-5 .subcategory-frame {
    left: -260px;
}
.category-3 .subcategory-background,
.category-6 .subcategory-background,
.category-3 .subcategory-frame,
.category-6 .subcategory-frame {
    left: -145px;
}
.good {
    position: relative;
    float: left;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    margin: 10px;
    cursor: pointer;
    transition: all .2s;
    /*overflow: hidden;*/
}
.good:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
}
.good div {
    width: 100%;
}
.good-thumb {
    height: 200px;
}
.good-name,
.good-price {
    width: 100%;
    height: 25px;
    background-color: #ffe66d;
    color: #292f36;
    line-height: 25px;
    font-family: 'SnowstormLight';
    font-size: 14px;
    text-align: center;
    transition: all .2s;
}
.good:hover .good-name,
.good:hover .good-price {
    background-color: #292f36;
    color: #ffe66d;
}

