@font-face {
    font-family: 'PTSerif-Regular';
    src: url('fonts/PTSerif-Regular.eot');
    src: local('?'),
    url('fonts/PTSerif-Regular.woff') format('woff'),
    url('fonts/PTSerif-Regular.ttf') format('truetype'),
    url('fonts/PTSerif-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CampusA-Bold';
    src: url('fonts/CampusA-Bold.eot');
    src: local('?'),
    url('fonts/CampusA-Bold.woff') format('woff'),
    url('fonts/CampusA-Bold.ttf') format('truetype'),
    url('fonts/CampusA-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FinitionPERSONALUSEONLY';
    src: url('fonts/FinitionPERSONALUSEONLY.eot');
    src: local('?'),
    url('fonts/FinitionPERSONALUSEONLY.woff') format('woff'),
    url('fonts/FinitionPERSONALUSEONLY.ttf') format('truetype'),
    url('fonts/FinitionPERSONALUSEONLY.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SnowstormLight';
    src: url('fonts/SnowstormLight.eot');
    src: local('?'),
    url('fonts/SnowstormLight.woff') format('woff'),
    url('fonts/SnowstormLight.ttf') format('truetype'),
    url('fonts/SnowstormLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SnowstormKraft';
    src: url('fonts/SnowstormKraft.eot');
    src: local('?'),
    url('fonts/SnowstormKraft.woff') format('woff'),
    url('fonts/SnowstormKraft.ttf') format('truetype'),
    url('fonts/SnowstormKraft.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SnowstormInline';
    src: url('fonts/SnowstormInline.eot');
    src: local('?'),
    url('fonts/SnowstormInline.woff') format('woff'),
    url('fonts/SnowstormInline.ttf') format('truetype'),
    url('fonts/SnowstormInline.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url("images/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0;
}
body.noscroll {
    overflow: hidden;
}

/* Section 1 */
.section {
    position: relative;
    width: 100%;
}
.section-1 {
    height: 95vh;
}
#main-copy-wrap {
    position: fixed;
    height: 200px;
    width: 100%;
    left: 0;
    top: calc(47.5% - 100px);
    background: rgba(0,0,0,.8);
    border-bottom: 1px solid transparent;
    z-index: 3;
    transition: height .3s;
}
#main-copy-wrap.nav {
    top: 0 !important;
    height: 90px;
    border-color: #ffe66d;
}
#main-copy {
    position: absolute;
    width: 610px;
    height: 100%;
    left: 100px;
    color: #ffe66d;
}
#main-copy span {
    color: #ff6b6b;
}
#main-title {
    width: 100%;
    height: auto;
    font-family: 'FinitionPERSONALUSEONLY';
    font-size: 50px;
    margin: 40px 0 0 0;
    transition: all .3s;
}
.nav #main-title {
    font-size: 30px;
    top: 15px;
    margin-top: 25px;
    margin-left: -14px;
}
#main-subtitle {
    position: absolute;
    width: 100%;
    height: auto;
    font-family: 'SnowstormLight';
    font-size: 17px;
    margin: 0;
}
.nav #main-subtitle {
    opacity: 0;
    transition: all .3s;
}
#tabs {
    display: none;
    opacity: 0;
    position: absolute;
    width: 660px;
    left: calc(50% - 95px);
    top: 32px;
    text-align: center;
    transition: all .2s;
}
#tabs.block {
    display: block;
}
#tabs.show {
    opacity: 1;
}
.tab {
    display:inline-block;
    font-family: 'SnowstormLight';
    color: #ffe66d;
    font-size: 14px;
    padding: 8px 10px;
    cursor: pointer;
    transition: all .2s;
}
.tab:hover{
    background: rgba(255,107,107,.4);
}
#scroller {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 80px;
    left: calc(50% - 30px);
    background: url("images/scroller5.png") no-repeat;
    background-size: cover;
    opacity: .8;
    transition: all .6s;
}
#scroller.hide {
    opacity: 0;
}
#scroller.animate {
    animation: scroller 1.5s infinite;
}
@keyframes scroller {
    0% {bottom: 80px;}
    10% {bottom: 70px;}
    50% {bottom: 80px;}
}

/* Section 2 */
.section-2 {
    width: 100%;
    height: 5vh;
    min-height: 20px;
    background: #ffe66d;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#diagonal-stripes {
    position: absolute;
}
.canvas-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Section 3 */
.section-3 {
    height: 100vh;
    min-height: 654px;
    background: url("images/bg3.jpg") no-repeat center center fixed;
    background-size: cover;
}
#category-cards {
    position: absolute;
    width: 900px;
    height: auto;
    left: calc(50% - 425px);
    top: calc(50% - 230px - 50px);
    text-align: center;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.card {
    display:inline-block;
    width: 145px;
    height: 230px;
    color: white;
    font-size: 14px;
    margin-right: 50px;
    margin-top: 50px;
    border: 1px solid #ffe66d;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 30px 0 rgba(0,0,0,0.4);
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
}
.card div {
    width: 100%;
    text-align: center;
}
.card-0 .icon {
    background: url("images/television.png") no-repeat 50% 60%;
    background-size: 50%;
}
.card-1 .icon {
    background: url("images/washing-machine.png") no-repeat 50% 60%;
    background-size: 35%;
}
.card-2 .icon {
    background: url("images/kettle.png") no-repeat 50% 60%;
    background-size: 35%;
}
.card-3 .icon {
    background: url("images/vacuum-cleaner.png") no-repeat 50% 60%;
    background-size: 50%;
}
.card-4 .icon {
    background: url("images/air-conditioning.png") no-repeat 50% 60%;
    background-size: 50%;
}
.card-5 .icon {
    background: url("images/bedroom.png") no-repeat 50% 60%;
    background-size: 45%;
}
.card-6 .icon {
    background: url("images/chandelier.png") no-repeat 50% 60%;
    background-size: 40%;
}
.card .icon {
    height: 55%;
    background-color: rgba(0,0,0,.8);
    transition: all .2s;
}
.card .header {
    height: 10%;
    background-color: rgba(0,0,0,.8);
    color: #ffe66d;
    transition: all .2s;
    font-family: 'SnowstormKraft';
}
.card .description {
    height: 35%;
    background-color: rgba(255,230,109,1);
    font-family: 'SnowstormLight';
    color: #000;
    border-top: 1px solid #ffe66d;
    padding: 7px;
    box-sizing: border-box;
    transition: all .2s;
}
.card:hover .description {
    background-color: rgba(0,0,0,.8);
    color: #ffe66d;
}

/*Fences*/
.category-frame {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
.category-frame.block {
    display: block;
}
.category-frame canvas {
    position: absolute;
}
.close-card {
    position: absolute;
    width: 150px;
    height: 30px;
    bottom: 100px;
    left: calc(50% - 75px);
    border: 1px solid #ffe66d;
    border-radius: 5px;
    background: rgba(0,0,0,.8);
    font-family: 'SnowstormLight';
    font-size: 12pt;
    color: #ffe66d;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: all .2s;
}
.close-card:hover {
    background: rgba(0,0,0,1);
}

/* Categories */
#categories {
    display: none;
}
.category {
    display: none;
    position: absolute;
    width: 940px;
    height: auto;
    left: calc(50% - 485px);
    top: calc(50% - 180px);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'SnowstormLight';
    animation: fadeIn .4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.category.block {
    display: block;
}
.category .title {
    position: absolute;
    width: 100%;
    height: 50px;
    font-family: 'SnowstormKraft';
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    color: #ff6b6b;
}
.subcard {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    background-color: rgba(247,255,247,.8);
    color: #000;
    font-size: 14px;
    margin-right: 30px;
    margin-top: 70px;
    border: 1px solid #ffe66d;
    border-radius: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
}
.subcard:hover {
    background-color: rgba(247,255,247,1);
}
.subcard-3 {
    margin-right: 0;
}
.subcard div {
    width: 100%;
    text-align: center;
}
.subcard .icon {
    height: 80%;
    background: url("images/kettle.png") no-repeat 50% 50%;
    background-size: 35%;
}
.subcard .header {
    position: absolute;
    width: 200px;
    height: 10%;
    top: 73%;
    text-align: center;
}
.subcard canvas {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}
.subcard canvas:hover {
    opacity: 1;
}

